:root {
    --background-color: #00bbff;
    --element-color: #90caf9;
    --tag-color: #bbdefb;
    --date-color: #f48c06;
    --off-day-color: #70e000;
    
    --default-padding: .45rem;
    --border-radius: .75rem;
    --border-radius-tag: .5rem;
    
    --border-color: #bbdefb;
    --border-color-date: #ffba08;
    --border-color-off: #9ef01a;
    
    --border-size: .1rem;
    
    --border: solid var(--border-color) var(--border-size);
    --border-date: solid var(--border-color-date) var(--border-size);
    --border-off: solid var(--border-color-off) var(--border-size);

    --text-color: #0d0d0d;
    --text-color-changed: #c1121f;
    --lesson-text-size: .9rem;

    --shadow-major: 0 8px 8px 0 rgba(0,0,0,.2);
    --shadow-minor: 0 4px 4px 0 rgba(0,0,0,.2);

    --effective-page-width: 90vw;
    --displayable-floors-per-period: 10;
    
    font-family: Ubuntu, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 0 auto;
    width: var(--effective-page-width);
    gap: 3rem;

    .logo {
        width: 5rem;
    }

    h1 {
        text-align: center;
        font-size: 4rem;
        margin: 0;
    }
    
    div.last-update {
        justify-self: right;
        padding: var(--default-padding);
        border-radius: var(--border-radius);
        background-color: var(--element-color);
        border: var(--border);
        box-shadow: var(--shadow-major);
        align-items: center;
        
        display: flex;
        gap: .25rem;
        flex-wrap: wrap;
        font-size: 1.1rem;
    }
}

body.single-day main {
    grid-template-columns: 1fr;
    
    .day {
        width: var(--effective-page-width);
    }
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: var(--effective-page-width);
    margin: auto;
    gap: 4rem 2rem;
}
@media only screen and (max-width: 1200px) {
    :root {
        --effective-page-width: 95vw;
    }
    main {
        grid-template-columns: 1fr;
    }
    div.day {
        width: 100%;
        gap: .5rem ;
    }
    header {
        margin-bottom: 1rem;
    }
    .day div.period {
        grid-row-gap: .75rem;
    }
}
@media only screen and (max-width: 800px) {
    :root {
        --displayable-floors-per-period: 5;
    }
}
@media only screen and (max-width: 600px) {
    :root {
        --displayable-floors-per-period: 4;
    }
    
    header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        .logo {
            display: none;
        }

        div.last-update {
            justify-self: center;
        }
    }
}
@media only screen and (max-width: 400px) {
    :root {
        --displayable-floors-per-period: 2;
    }
    
    header h1 {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 300px) {
    :root {
        --displayable-floors-per-period: 1;
    }
}

.day {
    display: grid;
    grid-template-columns: repeat(min(var(--floor-count), var(--displayable-floors-per-period)), 1fr);
    gap: .225rem ;
    width: calc((var(--effective-page-width) - 2.4rem)/2);
    height: fit-content;

    --padding: .25rem;
    --padding-tag: calc(var(--padding)/2);

    h1 {
        grid-column: 1 / -1;
        text-align: center;
        margin: 0;
        font-size: calc(var(--lesson-text-size) * 1.5);
    }
    h1.date {
        margin-bottom: .1rem;
        padding: var(--default-padding);
        background-color: var(--date-color);
        border: var(--border-date);
    }
    .period,.date {
        padding: var(--default-padding);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow-major);
    }
    
    .period {
        display: grid;
        grid-column: 1/ -1;
        grid-template-columns: subgrid;
        background-color: var(--element-color);
        border: var(--border);
        grid-row-gap: .225rem;
        
        .floor:has(.tag + .lesson) {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: .25rem;
            justify-content: start;
            height: fit-content;
            
            .lesson {
                grid-column: 2;
                padding: var(--padding) 0;

            }
            .tag {
                grid-column: 1;
                height: calc(var(--lesson-text-size) + 2 * var(--border-size));
                align-self: center;
            }
        }
        
        .floor {
            display: flex;
            flex-direction: column;
            grid-column: mod(var(--floor, auto), var(--displayable-floors-per-period));
            font-size: var(--lesson-text-size);

            .lesson {
                display: flex;
                gap: .25rem;
                padding: var(--padding) 0;
                align-items: center;
                border-bottom: none;
                flex-wrap: wrap;
            }

            .lesson:has(.relocated-room-number) .room-number {
                text-decoration: line-through;
                color: var(--text-color-changed);
            }
            .lesson:has(.substitute-shorthand) .teacher-shorthand {
                text-decoration: line-through;
                color: var(--text-color-changed);
            }
            .lesson.removed div {
                text-decoration: line-through;
                color: var(--text-color-changed);
            }
            .lesson + .lesson,
            .lesson + .tag + .lesson {
                border-top: var(--border);
            }

            .tag + .lesson,
            .lesson:has(.tag) {
                padding: calc(var(--padding) - var(--padding-tag)) 0;
            }

            .tag {
                background-color: var(--tag-color);
                border-radius: var(--border-radius-tag);
                padding: var(--padding-tag);
                box-shadow: var(--shadow-minor);
                text-align: center;
            }
        }

    }
}

.day.off {
    display: block;
    height: 100%;
    
    --header-margin-bottom: .35rem;
    
    h1 {
        margin-bottom: var(--header-margin-bottom);
    }
    
    .info {
        height: calc(100% - .2rem - var(--header-margin-bottom) - 1.5 * var(--lesson-text-size) - 4 * var(--default-padding) - 4 * var(--border-size));
        text-align: center;
        padding: var(--default-padding);
        background-color: var(--off-day-color);
        border-radius: var(--border-radius);
        border: var(--border-off);
        box-shadow: var(--shadow-major);
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 3rem;

        p {
            align-self: center;
        }
    }
}
